body {
    background-color: rgb(35, 35, 35);
    color: white;
  }

.grid-container {
    display: grid;
    height: 100vh;
    align-content: center;
    grid-row-gap: 0.5rem;
    grid-template-columns: auto;
    grid-template-rows: 8fr 0.5fr 0.5fr 5fr;
    grid-template-areas: 
    "canvas"
    "canvas-form"
    "grid-form"
    "grid-list";
}

.canvas-wrapper {
    grid-area: canvas;
    padding: 2rem 0;
    overflow: auto;
}

.canvas-form,
.grid-form {
    display: grid;
    padding: 0 0.3rem;
    align-content: center;
    grid-gap: 0.3rem;
}
.canvas-form {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 0.1fr 1fr 0.1fr;
    // grid-template-columns: auto;
    grid-area: canvas-form;
}

.grid-form {
    grid-template-columns: 1fr 1fr;
    grid-area: grid-form;
}

.gird-list {
    display: grid;
    overflow: auto;
    grid-area: grid-list;
}

#led-canvas {
    border: 1px solid white;
}

input {
    background: none;
    color:white;
    padding: 0.2rem;
    height: 100%;
}

tr.selected {
    background: rgb(62, 56, 56) !important;
}
